body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #ff6600;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

.title-container {
    text-align: left;
}

.title-container h1 {
    margin: 0;
    font-weight: bold;
}

.title-container p {
    margin: 0;
}

.section-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
}

.stylish-section {
    background-color: white;
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    margin-bottom: 20px; /* Space between sections */
}

.about {
    max-width: 600px;
    margin: 0 auto;
}

.about h2 {
    margin-top: 0;
    font-size: 28px;
    font-weight: bold;
}

.about p {
    font-size: 18px;
    line-height: 1.6;
}

.contact-section h2 {
    margin-top: 0;
    font-size: 28px;
    font-weight: bold;
}

.contact-section p {
    font-size: 18px;
    line-height: 1.6;
}
